@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/*
    wight      : #E6E8EA
    light-blue : #b6dafd 
    input      : #263238cc 
*/

/* Basic setup */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 300;
}

body {
    color: #b6dafd;
    font-family: Roboto;
    background: linear-gradient(55deg, #0c9289 0%, #1cb1c2 51%, #26a0cc 60%) fixed;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.weather-js {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    height: 80%;
}

/* skyicons */
canvas {
    -ms-flex-item-align: center;
        align-self: center;
}

.location-section canvas {
    width: 128px;
    height: 128px;
}

.row {
    width: 12%;
}

.row canvas {
    width: 64px;
    height: 64px;
}

/* temperature */
.deg-far,
.deg-cel {
    color: #E6E8EA;
}

.temperature-degree-night {
    color: #263238cc;
}

/* Reusable components */

.deg-far::after {
    content: "\00b0  F";
}

.deg-cel::after {
    content: "\00b0  C";
}

/* ---------- INPUT SECTION ---------- */

.input-section {
    -ms-flex-item-align: center;
        align-self: center;
    width: 80%;
}

.input-borders {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.input-container > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    outline: 0;
    -webkit-appearance: none;
}

input[type="search"] {
    color: #577FA7;
    background-color: #DCDFE1;
}

input[type="search"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

input::-webkit-search-cancel-button {
    display: none;
}

/* google map autocomplite */
.pac-container {
    background-color: #e5e8eb;
    margin-top: 15px;
}

.pac-item-query,
.pac-matched,
.pac-icon,
span { 
    font-size: 20px; 
    color: #4a6c8f;
}

.pac-item-selected {
    background: #bfcedd;
}

.pac-item:hover {
    background: #bfcedd;
}

/* ---------- LOCATION SECTION ---------- */

.location-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 40%;
}

/* timezone description */
.timezone-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.timezone-description h1 {
    font-size: 100%;
    font-weight: 400;
}

.timezone-description h2 {
    margin-top: 20px;
    font-size: 70%;
}

.timezone-description h3 {
    margin-top: 10px;
    font-size: 300%;
    -ms-flex-item-align: center;
        align-self: center;
    cursor: pointer;
}

.timezone-description h4 {
    font-size: 90%;
    text-align: center;
}

/* day description */
.day-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
}

span { 
    font-weight: 300; 
}

.desc-first li,
.desc-first span,
.desc-second li,
.desc-second span {
    font-size: 80%;
    list-style: none;
}

.desc-first span,
.desc-second span {
    font-weight: 400;
    color: #E6E8EA;
}

.desc-first,
.desc-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    width: 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* ---------- TEMPERATURE SECTION ---------- */

.temperature-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 10%;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.week-day {
    font-size: 90%;
    font-weight: 400;
    cursor: pointer;
}

.degree-section {
    cursor: pointer;
}

.temperature-degree-day,
.temperature-degree-night {
    font-size: 80%;
}

.temperature-description {
    font-size: 60%;
}

/* ---------- ANIAMTIONS ---------- */ 

@-webkit-keyframes fade-in-right {
    from {
        opacity: 0;
        -webkit-transform: translateX(-15px);
                transform: translateX(-15px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
  } 

@keyframes fade-in-right {
    from {
        opacity: 0;
        -webkit-transform: translateX(-15px);
                transform: translateX(-15px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
  }
  
  @-webkit-keyframes grow-left {
    from {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
}
  
  @keyframes grow-left {
    from {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
}

.agent-1, .agent-3 {
    opacity: 0;
    -webkit-animation: fade-in-right ease 0.4s forwards;
            animation: fade-in-right ease 0.4s forwards;
}
  
.agent-2 {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
            animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
  
.agent-3 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
}

.fade-out {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.visibility-true {
    visibility: visible;
}

.visibility-false {
    visibility: hidden;
}

/* ---------- ERRORS ---------- */

.isa-error {
    margin: 10px 0px;
    padding: 25px; 
    position: absolute;
    width: 50%;
    left: 25%;
    right: 0;
    color: #D8000C;
    background-color: #FFD2D2;
    border-radius: 20px;
    text-align: center;
}

/* ---------- MEDIA QUERIES ---------- */

/* Big tablet to 1200px (width smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
    .weather-js {
        width: 90%;
    }    
    
    .day-description {
        width: 50%;
    }
    
    .row {
        width: 12%;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .weather-js {
        width: 96%;
    }

    .day-description {
        width: 50%;
    }

    .timezone-description {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
    * {
        font-size: 30px;
    }

    body {
        height: 1200px;
    }

    .location-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
    }


    .timezone-description {
        text-align: center;
        width: 100%;
    }

    .timezone-description h1 {
        font-size: 150%;
    }

    .timezone-description h2 {
        font-size: 90%;
    }

    .day-description {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;   
        -webkit-box-align: center;   
            -ms-flex-align: center;   
                align-items: center;
        width: 100%;
        margin-bottom: 40px;
    }

    .desc-first li,
    .desc-first span,
    .desc-second li,
    .desc-second span {
        padding-top: 10px;
        list-style: none;
    }

    .temperature-section {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .row {
        flex: 1 0 41%;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    .row:nth-last-child(-n+2) {
        margin-bottom: 50px;
    }    

    .week-day,
    .degree-section {
        align-self: center;
    }

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    * {
        font-size: 28px;
    }
    
    body {
        height: 1500px;
    }    

    .row {
        flex: 1 0 51%;
    }

    .row:nth-last-child(-n+2) {
        margin-bottom: 0px;
    }    

    .row:last-of-type {
        margin-bottom: 50px;
    }

    .row:first-of-type {
        margin-top: 0;
    }

    .day-description {
        flex-direction: column;
        width: 100%;
        align-content: center;
    }
}